<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="DynamicConfigurationSection"
             type="DynamicConfigurationManager.DynamicConfigurationSectionHandler,DynamicConfigurationManager"
             allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <connectionStrings>
    <add name="testDbAlias" connectionString="TestConnectionString" providerName="TestProviderName" />
    <add name="testDbAlias2" connectionString="TestConnectionString2" providerName="TestProviderName2" />
    <add name="configDbAlias"
         connectionString="Persist Security Info=False;User ID=MyDBID;Password=MyDBPassword;Initial Catalog=MyDBName;Data Source=ServerName\INST00D1;Packet Size=8192;Network Library=dbmssocn"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <DynamicConfigurationSection xmlns="DynamicConfigurationSection"
                               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                               xsi:schemaLocation="https://github.com/dstrommer/dcm/DynamicConfigurationSection.xsd DynamicConfigurationSection.xsd">
    <!-- Global Application Settings -->
    <add key="globalKey1" value="globalValue1" />
    <add key="globalKey2" value="globalValue2" />

    <!-- Configuration Map -->
    <configMap assemblyPath="file:///C:/DynamicConfigurationManager.dll">
      <add key="assemblyPathKey1" value="ShouldNotExist" />
    </configMap>

    <configMap environmentVariable="environment=TEST">
      <add key="environmentKey" value="testingValue" />
    </configMap>

    <configMap
      assemblyPath="file:///C:/Users/Dave/Source/Repos/dcm/DynamicConfigurationManager.UnitTests/bin/Debug/DynamicConfigurationManager.DLL">
      <add key="assemblyPathKey2" value="Success" />
    </configMap>

    <configMap assemblyPathRegEx="file:///.*/DynamicConfigurationManager\.DLL">
      <add key="assemblyPathRegExKey" value="Success" />
    </configMap>

    <configMap assemblyPathRegEx="^$">
      <add key="assemblyPathRegExBad" value="ShouldNotExist" />
    </configMap>

    <configMap callingTypeFullnameRegEx="Dcm.Tests.ConfigMapAttributes.CallingTypeFullnameRegExTests">
      <add key="CallingTypeFullnameRegExHappyPath" value="Success" />
    </configMap>

    <configMap commandLineArgs="/role=TestExecution">
      <add key="CommandLineArgsHappyPath" value="Success" />
    </configMap>

    <configMap configPathRegEx=".*">
      <add key="ConfigPathRegExHappyPath" value="Success" />
    </configMap>

    <!-- hostname should not match for testing hostnameRegex should -->
    <configMap name="TestMultipleAttr" hostname="B" hostnameRegEx="^C">
      <add key="testMultipleAttrKey" value="testMultipleAttrValue1" />
    </configMap>

    <configMap name="TestMultipleAttr2" hostname="B" hostnameRegEx="^B">
      <add key="testMultipleAttrKey2" value="testMultipleAttrValue1" />
    </configMap>

    <configMap name="test1" executablePathRegEx="Out">
      <add key="executablePathRegExKey1" value="executablePathRegExValue1" />
    </configMap>

    <configMap executablePath="D:\Projects\DCM\Dcm\Main\Dcm.Tests\bin\Debug">
      <add key="executablePathKey1" value="success" />
    </configMap>

    <!-- should not match for testing -->
    <configMap executablePath=".">
      <add key="executablePathKey1" value="executablePathValue1" />
    </configMap>

    <configMap executablePathRegEx=".*\\TestResults">
      <add key="executablePathRegExKey" value="Success" />
    </configMap>

    <configMap currentDirectory="..\Out">
      <add key="currentDirectoryKey1" value="currentDirectoryValue1" />
    </configMap>

    <configMap currentDirectoryRegEx=".*\\TestResults">
      <add key="currentDirectoryRegExKey1" value="currentDirectoryRegExValue1" />
    </configMap>

    <!-- should match for testing -->
    <configMap hostnameRegEx="^D">
      <add key="hostnameRegExKey1" value="hostnameRegExValue1" />
      <include set="connectionSettingsSet1" />
    </configMap>

    <!-- should match for testing -->
    <configMap hostnameRegEx="^D" executablePath="D:\Projects\DCM\Dcm\Main\Dcm.Tests\bin\Debug">
      <include set="hostNameRegExExecutablePathSet1" />
    </configMap>

    <configMap hostname="DESKTOP-N90D11H" executablePath="D:\Projects\DCM\Dcm\Main\Dcm.Tests\bin\Debug">
      <add key="hostNameExecutablePathKey1" value="hostNameExecutablePathValue1" />
    </configMap>

    <configMap hostname="DESKTOP-N90D11H">
      <add key="hostNameKey1" value="hostNameValue1" />
    </configMap>

    <configMap hostnameList="DESKTOP-N90D11H, machine1, machine3">
      <add key="hostNameKey2" value="hostNameValue2" />
      <add key="SomeService" value="http://localhost/myXmlWebService/Service1.asmx" />
    </configMap>

    <configMap webServiceBinPath="..\Out">
      <include set="webServiceBinPathSet1" />
    </configMap>

    <configSets>
      <!-- Configuration Sets -->
      <configSet name="connectionSettingsSet1">
        <add key="WSURL" value="http://shouldbeoverridenbydatabasevalue/" />
        <add key="dbAlias" value="testDbAlias" />
        <add key="ConfigurationDatabaseAlias" value="configDbAlias" />
        <add key="ConfigurationEnvironment" value="myapp-init-dev" />
      </configSet>

      <configSet name="hostNameRegExExecutablePathSet1">
        <add key="hostNameRegExExecutablePathKey1" value="hostNameRegExExecutablePathValue1" />
      </configSet>
    </configSets>
  </DynamicConfigurationSection>
</configuration>